{% extends "layouts/base.html" %} {% load static %} {% block content %}
<body>
  {% include 'layouts/navbar.html' %}
  <div>
    
      <div >
        <div class="card h-100">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
          <div class="card-body">
            <h5 class="card-title">{{company.user_name}}</h5>
            <p class="card-text">
  
              Services : {{company.services}} <br>
  
              Location : {{company.location}} <br>
  
              Description: {{company.description}}.
            </p>
          </div>
          <div class="card-footer">
            <div class="text-danger mb-1 me-2">
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <small class="text-muted">Last updated 3 mins ago More</small>   
            

  
            
          </div>


          <form action="" method="post">
            <input type="hidden" value="{{company.id}}">
            <button type="submit" class="btn btn-primary btn-block mb-4">Order</button>
          </form>

        </div>
      </div>
  </div>
  {% endblock %}
</body>
