{% extends "layouts/base.html" %} {% load static %} {% block content %}
<body>
  <!--Barner and Logo image display-->

  <!-- Start your project here-->
  <div class="container">
    <div class="col-lg-12 text-center" >
      <div class="card-body p-md-5 mx-md-4">
        <div class="text-center">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
            style="width: 185px"
            alt="logo"
          />
          <h4 class="mt-1 mb-5 pb-1">We are The MechanoPro</h4>
        </div>

        <!--Error messages from backend-->
        {% if messages %} {% for message in messages %}
        <!--Toggle allert message and dismis in seconds-->
        <div
          class="alert alert-info alert-dismissible fade show"
          role="alert"
        >
          {{message.message}}
        </div>
        {% endfor %} {% endif %}

        <form method="post">
          {% csrf_token %}
          <p>Please register to your account as engineer.</p>

          <div class="form-label mb-4">
            <label name="services" for="exampleFormControlSelect1"></label>
            <select name="services" class="form-control" id="exampleFormControlSelect1" required>
                <option>All Services</option>
                <option>Body Wash and Wheel Alignment </option>
                <option>Full Service</option>
                <option>Painting</option> 
                <option></option>
            </select>
        </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              id="form2Example11"
              class="form-control"
              name="user_name"
              placeholder="User Name"
              required
            />
            <label class="form-label" for="form2Example11"
              >User Name</label
            >
          </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              id="form2Example11"
              class="form-control"
              name="city"
              placeholder="City"
              required
            />
            <label class="form-label" for="form2Example11"
              >City</label
            >
          </div>


          <div class="form-outline mb-4">
            <input
              type="text"
              id="form2Example11"
              class="form-control"
              name="description"
              placeholder="Description"
              required
            />
            <label class="form-label" for="form2Example11"
              >Description</label
            >
          </div>
          

          <div class="form-outline mb-4">
            <input
              type="text"
              id="form2Example11"
              class="form-control"
              name="phone"
              placeholder="Phone number "


              required
            />
            <label class="form-label" for="form2Example11"
              >Phone</label
            >
          </div>

          <div class="form-outline mb-4">
            <input
              type="password"
              id="form2Example22"
              class="form-control"
              name="password"
              required
            />
            <label class="form-label" for="form2Example22"
              >Password</label
            >
          </div>

          <div class="text-center pt-1 mb-5 pb-1">
            <button
              class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
              type="submit"
            >
              Register
            </button>
          </div>

          <div
            class="d-flex align-items-center justify-content-center pb-4"
          >
          <a href="{% url 'users:register' %}">
            <p class="mb-0 me-2">Register as a customer.</p>
          </a>
          </div>

          <div
            class="d-flex align-items-center justify-content-center pb-4"
          >
            <p class="mb-0 me-2">You have an account?</p>
            <a href="{% url 'users:index' %}">
            <button type="button" class="btn btn-outline-danger">
              Login
            </button>
          </a>
          </div>
        </form>
      </div>
    </div>

  </div>
  <!-- End your project here-->

  {% endblock %}
</body>
